*{
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

img {
    width: 100%;
    display: block;
}

blockquote {
    margin: 0; 
}

.site-header-img {
    height: 200px; 
    object-fit: cover; 
}

.site-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; 
    background-image: url("../images/trianglify (2).png"); 
    height: 300px; 
    background-size: cover; 
    position: -webkit-sticky;
    position: sticky;
    top: -240px;  

}

.site-logo {
    padding: 1rem; 
    display: block; 
    text-transform: uppercase; 
    font-weight: bold; 
    text-decoration: none;
    color: black;
}

.site-nav {
    display: flex; 

}

.site-nav a {
    padding: 1rem; 
    text-decoration: none;
    color: white;   
}

.site-nav a:hover {
    color: black; 
}

main {
    margin-bottom: 50px; 
}

.site-content {
    grid-template-columns: 1fr 400px 100px 100px 400px 1fr; 
    display: grid; 
}

.text1 {
    grid-column: 2 / 4; 
}

.blockquote1 {
    grid-column: 3 / 6; 
    font-size: 25px; 
}

.text2 {
    grid-column: 2 / 4; 
}

.blockquote2 {
    grid-column: 3 / 6; 
    font-size: 25px;
}

.contact-info {
    grid-column: 2 / 6; 
    display: flex;
    align-items: flex-start; 
}

.contact-info img {
    width: 200px; 
    margin-right: 20px; 
    margin-top: 20px; 
}

.contact-form {
    display: flex; 
    flex-direction: column; 
    width: 400px;
    align-items: center; 
}

.contact-form input, 
.contact-form textarea {
    margin-bottom: .5rem; 
    font-family: sans-serif; 
    padding: .5rem; 
}


.contact-form h2, 
.contact-form input, 
.contact-form label, 
.contact-form textarea {
    width: 100%; 
}


.contact-form label {
    margin-bottom: .3rem; 
}

button {
    border-radius: 30px;
    padding: 10px 40px; 
    background: linear-gradient(158deg, rgba(251,16,5,1) 0%, rgba(249,240,146,1) 15%, rgba(249,240,146,1) 26%, rgba(115,154,110,1) 33%, rgba(115,154,110,1) 100%);
    border: none;
    color:white; 
}

footer {
    text-align: center; 
    margin-left: 1rem; 
    margin-right: 1rem; 
}

@media (max-width: 800px) { 
    .site-header {
        flex-direction: column; 
        align-items: center; 
        height: auto; 
    }
    .site-content {
        grid-template-columns: 1fr; 
        margin-left: 1rem; 
        margin-right: 1rem; 
    }
    .text1, .blockquote1, .text2, .blockquote2 {
        grid-column: 1; 
    }
    .contact-info {
        flex-direction: column; 
    }

.contact-form {
    width: 100%; 
}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}